/* Base colors */
/*$background-color-primary:  rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;*/
$background-color-primary:  #000000!important;
$background-color-secondary:  #fff!important;
$background-color-with-gradient: radial-gradient(circle, rgb(179, 176, 176), black)!important;
$primary-color: #FFFFFF!important;
$secondary-color: #7a7a7a!important;
$tertiary-color: #000000!important;
/* Canvas colors */
$background-color-canvas-primary:  rgb(83, 144, 197);
$background-color-canvas-secondary: rgb(48, 99, 145);
$background-color-canvas-third:  rgb(173, 201, 226);
$primary-canvas-color: #212121;
$secondary-canvas-color: #212121;
/* Margins */
$margin-default-left-rigth:2.5%;
$margin-default-top-bottom:2.5%;
/* background-image */
$background-image: url('../img/background-10.jpg');

/* Mixin for test application */

/* Show borders test */
@mixin show-borders-test($showBoders: false) {
    @if $showBoders {
        border: 1px dotted red;    
    }
}

/* Function for mantain proportional margin,fonts,colors */

/* Get margin left,right responsive function */
@function margin-left-right($IsMobileDevice: true) {
    $margin: 0;
    @if $IsMobileDevice {
        $margin: $margin-default-left-rigth;        
    } @else {
        $margin: $margin-default-left-rigth * 8;
    }
    @return $margin;
}
/* Get margin top,bottom responsive function */
@function margin-top-bottom($IsMobileDevice: true) {
    $margin: 0;
    @if $IsMobileDevice {
        $margin: $margin-default-top-bottom;        
    } @else {
        $margin: $margin-default-top-bottom ;
    }
    @return $margin;
}
/* Base color */
@mixin base-color {
    color: $primary-color;
    --bs-bg-opacity: 1;
    background-color: $background-color-primary;
}
/* Base color */  
@mixin base-color-main {
    color: $primary-color;
    background-color: transparent ;
}
/* Base color */  
@mixin base-page-properties {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    color: $primary-color;    
    background-color: #fff;
    background: $background-image ;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;    
    /*background:  $background-color-with-gradient;*/
    /*background: 
    linear-gradient(
      to right,
      rgba(rgb(0, 0 ,0), 0.9),
      rgba(rgb(255, 255 ,255), 0.3)
    ),
    url('../img/model-1.jpg') ;
    background-repeat: no-repeat;
    background-size:contain;*/
}

/* Anchor base rules */
@mixin base-anchor-rule {
    a{
        text-decoration: none;
        display: block;
        color: $primary-color;
        &:hover
        { 
          background-color: #181818;
        };
    };
}

/* Function add flex-box */
@mixin base-flex-rule($direction) {
    display: flex;
    flex-direction: $direction;
}