/* Base colors */
$background-color-primary:  rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
$background-color-secondary:  #fff!important;
$background-color-with-gradient: radial-gradient(circle, rgb(179, 176, 176), black);
$primary-color: #fff;
$secondary-color: #fff;

/* Base mixin */
@mixin create-flex($direction) {
    display: flex;
    flex-direction: $direction;
}
  
@mixin base-color {
    color: $primary-color;
    --bs-bg-opacity: 1;
    background-color: $background-color-primary;
}
  
@mixin base-color-main {
    color: $primary-color;
    background-color: transparent ;
}
  
@mixin base-page-properties {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    color: $primary-color;    
    background-color: #fff;
    /*background:  $background-color-with-gradient;*/
    /*background: 
    linear-gradient(
      to right,
      rgba(rgb(0, 0 ,0), 0.9),
      rgba(rgb(255, 255 ,255), 0.3)
    ),
    url('../img/model-1.jpg') ;
    background-repeat: no-repeat;
    background-size:contain;*/

}
  