@import 'config';
@import 'curriculum';


* a{
  //color: rgb(185, 183, 183);
  @include base-color();    
}


/*.card:hover{
  box-shadow: 2px 2px 2px 2px  #02020277;    
  transform: scale(1.009);
}*/
.card{
  box-shadow: 2px 2px 2px 2px  #02020277;    
}
/*
.projects {
  padding-bottom: 2rem;

  &__bio-image {
    height: 30vh;
    width: 100%;
    background: 
      linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.3)
      ),
      url('../img/model-1.jpg') center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .text-secondary {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__items {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  &__item {
    position: relative;
    border-bottom: 5px solid $secondary-color;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: $secondary-color;
      opacity: 0;
      @include transition-ease;
    }

    &:hover {
      &::after {
        top: 0;
        opacity: 0.9;
      }
      .projects__btn {
        opacity: 1;
      }
    }
  }

  &__btns {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }

  &__btn {
    opacity: 0;
    color: set-text-color($secondary-color);
    @include transition-ease;

    &:hover {
      color: set-text-color(set-text-color($secondary-color));
    }
  }


  footer {
    transform:
      rotate(90deg)
      translate(-3rem, -5rem);
  }
  
}
*/

/* Layout footer ( using nesting SASS syntax ) */
.fl-footer {
  height: auto!important;
  position: fixed; 
  bottom: 0; 
  right: 0; 
  z-index: 1;    
  .social-icons {
    display: flex;
    flex-direction: column;
    opacity: 1.75;                /* Opacity (Transparency) */
    color: rgba(0, 0, 0, 1.75);   /* RGBA Color (Alternative Transparency) */
  }  
  a {
    background-color: white;
    --bs-bg-opacity:1;
    color: #70726F;
    font-size: 20px;
    padding: 5px;
    transition: all .5s ease;
    &:hover {
      color: white;  
    }  
  }   
}

/* Layout structure ( using nesting SASS syntax ) */
.fl-page {
  @include base-page-properties();
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  scroll-margin-top: 100px; /* Set scroll margin equal to the height of the fixed header */
  /* Responsive header ( using nesting SASS syntax ) */
  .fl-header{
    background-color: #212121de;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;    
    width: 100%;
    z-index: 1;
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      overflow: hidden;

      a
      {
        display: block;
        /*border-right: 1px solid red;*/
        padding: 20px 20px;
        text-decoration: none;
        &:hover
        { 
          background-color: #181818;
        };
      }    
    }
    .logo{
      @include base-color();
      margin-top: 5px;
      text-decoration: none;
      text-transform:capitalize;    
      display: flex;
      padding: 10px 10px;
      flex-direction: row;
      justify-content: start;
      float: left;  
    }
    .menu{
      clear: both;
      max-height: 0;
      transition: max-height 1.2s ease-out
    }  
    .menu-icon{
      /*border: 1px solid red;*/
      padding: 28px 20px;
      position: relative;
      float: right;
      cursor: pointer;
      .nav-icon
      {
        background-color: #FFF;
        display: block;
        width: 18px;
        height: 2px;
        position: relative;
        transition: background-color .2s ease-out;
        &:before,
        &:after{
          background-color: #FFF;
          display: block;
          width: 100%;
          height: 100%;
          content: "";
          position: absolute;
          transition: all 1.2s ease-out;
          top: 5px;    
        }
        &::before{top: -5px;}
      }    
    }  
    .menu-btn{
      display: none;
    }  
    .menu-btn:checked ~ .menu{
      max-height: 240px;
      &.menu-icon{
        .nav-icon{
          background-color: transparent;
        } 
        .nav-icon::before{
          transform: rotate(-45deg);
          top: 0px;
        }
        .nav-icon::after{
          transform: rotate(45deg);
          top: 0px;
        }
      }
    }
  }
  /* Responsive main and footer ( using nesting SASS syntax ) */
  .flMainContainer 
  {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    height: 100%;
    margin-top: 80px;
    .flLeftSpace {
      width: 2.5%;
    }
    .flRightSpace {
      width: 2.5%;
    }
    .flMainSpace {
      @include base-color-main();
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      width: 95%;
      .flArticleStructure {
        @include base-color-main();
        width: auto;
        margin-bottom: 2%;
        scroll-margin-top: 100px; /* Set scroll margin equal to the height of the fixed header */
        .fl-projects-list {
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
            &-item {
              width: 46%;
              img {
                width: 100%;
              }
          }
        }
      }
    }   
  } 
}

/* Media query when the screen is larger than 756px */
@media (min-width: 48em){ 
    /* Layout structure ( using nesting SASS syntax ) */
    .fl-page {
      @include base-page-properties();
      /* Responsive header ( using nesting SASS syntax ) */    
      .fl-header {
        li{
          float: left;
          a{
            padding: 20px 30px;
          }
        }
        .menu{
          clear: none;
          float: right;
          max-height: 240px;
        }
        .menu-icon{
          display: none;
        }      
      }
      .flMainContainer 
      {
        height: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 60px;
        .flLeftSpace {
          width: 10%;
        }
        .flRightSpace {
          width: 10%;
        }
        .flMainSpace {
          display: flex;
          flex-direction: row;
          width: 78%;
          gap: 2%;
          .flArticleStructure {
            @include base-color-main();
            margin-bottom: 0%;
            width: 47%;
            > p{
              width: fit-content;
            }
            .fl-projects-list {
                margin-top: 15px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 15px;
                &-item {
                  width: 46%;
                  img {
                    width: 100%;
                  }
              }
            }  
          }
        }      
      }
    }
}

