/* Base colors */
/*$background-color-primary:  rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;*/
/* Canvas colors */
/* Margins */
/* background-image */
/* Mixin for test application */
/* Show borders test */
/* Function for mantain proportional margin,fonts,colors */
/* Get margin left,right responsive function */
/* Get margin top,bottom responsive function */
/* Base color */
/* Base color */
/* Base color */
/* Anchor base rules */
/* Function add flex-box */
/*.card:hover{
  box-shadow: 2px 2px 2px 2px  #02020277;    
  transform: scale(1.009);
}*/
.card {
  box-shadow: 2px 2px 2px 2px rgba(2, 2, 2, 0.4666666667);
  opacity: 0.95;
}
.card:hover {
  transform: scale(1.009);
  box-shadow: 3px 3px 3px 3px rgba(2, 2, 2, 0.4666666667);
  opacity: 0.95;
}

.no-gutter-column {
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

#btn-scroll-to-top {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 99;
  display: none;
}

/* Footer Module */
/* Media query when the screen is less than 1152px  ( MOBILE first default stylesheet )  */
.fl-footer {
  border-top: 1px solid #fff !important;
  padding: 2.5% 2.5%;
  background-color: #000000 !important;
}
.fl-footer-cnt-item-menu {
  margin-bottom: 0px;
}
.fl-footer-cnt-item-menu ul {
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.fl-footer-cnt-item-menu ul a {
  text-decoration: none;
  display: block;
  color: #fff;
}
.fl-footer-cnt-item-menu ul a:hover {
  background-color: #181818;
}
.fl-footer-cnt-item-links {
  margin-top: 3px;
  margin-bottom: 0px;
}
.fl-footer-cnt-item-links ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.fl-footer-cnt-item-links ul a {
  text-decoration: none;
  display: block;
  color: #fff;
}
.fl-footer-cnt-item-links ul a:hover {
  background-color: #181818;
}
.fl-footer-cnt-item-hr {
  color: #FFFFFF;
  opacity: 0.9;
  size: 3px;
}
.fl-footer-cnt-item-disclaimer {
  font-size: 0.7rem;
  color: #717286;
}

/* Media query when the screen is larger than 1152px ( PC/laptop device ) */
@media (min-width: 1024px) {
  .fl-footer {
    padding: 2.5% 20%;
  }
  .fl-footer-cnt-item-links {
    margin-bottom: 25px;
  }
  .fl-footer-cnt-item-menu {
    margin-bottom: 25px;
  }
  .fl-footer-cnt-item-disclaimer {
    font-size: 0.9rem;
  }
}
/* Responsive header ( using nesting SASS syntax ) */
.fl-header {
  background-color: #000000 !important;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  border-bottom: 1px solid #fff !important;
  width: 100%;
  z-index: 1;
}
.fl-header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.fl-header ul a {
  text-decoration: none;
  display: block;
  color: #fff;
}
.fl-header ul a:hover {
  background-color: #181818;
}
.fl-header ul a {
  padding: 20px 20px;
}
.fl-header .logo {
  color: #fff;
  --bs-bg-opacity: 1;
  background-color: #000000 !important;
  margin-top: 5px;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  padding: 10px 10px;
  flex-direction: row;
  justify-content: start;
  float: left;
}
.fl-header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 1.2s ease-out;
}
.fl-header .menu-icon {
  /*border: 1px solid red;*/
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}
.fl-header .menu-icon .nav-icon {
  background-color: #FFF;
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background-color 0.2s ease-out;
}
.fl-header .menu-icon .nav-icon:before, .fl-header .menu-icon .nav-icon:after {
  background-color: #FFF;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  transition: all 1.2s ease-out;
  top: 5px;
}
.fl-header .menu-icon .nav-icon::before {
  top: -5px;
}
.fl-header .menu-btn {
  display: none;
}
.fl-header .menu-btn:checked ~ .menu {
  max-height: 260px;
}
.fl-header .menu-btn:checked ~ .menu.menu-icon .nav-icon {
  background-color: transparent;
}
.fl-header .menu-btn:checked ~ .menu.menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0px;
}
.fl-header .menu-btn:checked ~ .menu.menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0px;
}

/* Media query when the screen is larger than 1152px ( PC/laptop device ) */
@media (min-width: 1152px) {
  /* Responsive header ( using nesting SASS syntax ) */
  .fl-header li {
    float: left;
  }
  .fl-header li a {
    padding: 20px 30px;
  }
  .fl-header .menu {
    clear: none;
    float: right;
    max-height: 260px;
  }
  .fl-header .menu-icon {
    display: none;
  }
}
.woork-sheet {
  /* Style the tab */
  /* Style the buttons that are used to open the tab content */
  /* Change background color of buttons on hover */
  /* Create an active/current "tab button" class */
  /* Style the tab content */
}
.woork-sheet-tab-header {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}
.woork-sheet-tab-header button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
.woork-sheet-tab-header button:hover {
  background-color: #ddd;
}
.woork-sheet-tab-header button.active {
  background-color: #ccc;
}
.woork-sheet .cnt-woork-sheet {
  float: left;
  padding: 12px 12px;
  border: 1px dotted #ccc;
  border-radius: 0 10px 0 10px;
  width: 70%;
  border-left: none;
  height: 100%;
}

/* Style the tab */
.woork-period {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.woork-period button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.woork-period button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.woork-period button.active {
  background-color: #ccc;
}

/* Style the tab content */
.cnt-woork-period {
  display: none;
  padding: 6px 12px;
  border-top: none;
  height: 100%;
}

#projects .fl-projects-list {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
#projects .fl-projects-list-item {
  width: 46%;
}
#projects .fl-projects-list-item img {
  width: 100%;
}

#who-i-am .home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
}
#who-i-am .home__name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid set-text-color(#fff);
}
#who-i-am .home__name--last {
  color: #fff;
  font-weight: 700;
}

/* Media query when the screen is less than 1152px  ( MOBILE first default stylesheet )  */
.fl-page {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
  color: #fff;
  background-color: #fff;
  background: url("../img/background-10.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  /*background:  $background-color-with-gradient;*/
  /*background: 
  linear-gradient(
    to right,
    rgba(rgb(0, 0 ,0), 0.9),
    rgba(rgb(255, 255 ,255), 0.3)
  ),
  url('../img/model-1.jpg') ;
  background-repeat: no-repeat;
  background-size:contain;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* Responsive main  ( using nesting SASS syntax ) */
}
.fl-page .fl-main {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 20% 2.5%;
  justify-content: center;
}
.fl-page .fl-main .cnt-main {
  color: #fff;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 95%;
}
.fl-page .fl-main .cnt-main .flArticleStructure {
  color: #fff;
  background-color: transparent;
  width: auto;
  margin-bottom: 2%;
  scroll-margin-top: 100px; /* Set scroll margin equal to the height of the fixed header */
}

/* Media query when the screen is larger than 1152px ( PC/laptop device ) */
@media (min-width: 1024px) {
  /* Layout structure ( using nesting SASS syntax ) */
  .fl-page {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    color: #fff;
    background-color: #fff;
    background: url("../img/background-10.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /*background:  $background-color-with-gradient;*/
    /*background: 
    linear-gradient(
      to right,
      rgba(rgb(0, 0 ,0), 0.9),
      rgba(rgb(255, 255 ,255), 0.3)
    ),
    url('../img/model-1.jpg') ;
    background-repeat: no-repeat;
    background-size:contain;*/
    /* Responsive header ( using nesting SASS syntax ) */
    /*.fl-header {
      li{
        float: left;
        a{
          padding: 20px 30px;
        }
      }
      .menu{
        clear: none;
        float: right;
        max-height: 260px;
      }
      .menu-icon{
        display: none;
      }      
    }*/
  }
  .fl-page .fl-main {
    display: flex;
    flex-direction: row;
    margin: 8.75% 20%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .fl-page .fl-main .cnt-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
  }
  .fl-page .fl-main .cnt-main .flArticleStructure {
    color: #fff;
    background-color: transparent;
    margin-bottom: 0%;
    width: 47%;
    max-height: 500px;
  }
  .fl-page .fl-main .cnt-main .flArticleStructure > p {
    width: -moz-fit-content;
    width: fit-content;
  }
}/*# sourceMappingURL=main.css.map */