.woork-sheet {
  /* Style the tab */
  /* Style the buttons that are used to open the tab content */
  /* Change background color of buttons on hover */
  /* Create an active/current "tab button" class */
  /* Style the tab content */
}
.woork-sheet-tab-header {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}
.woork-sheet-tab-header button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
.woork-sheet-tab-header button:hover {
  background-color: #ddd;
}
.woork-sheet-tab-header button.active {
  background-color: #ccc;
}
.woork-sheet .cnt-woork-sheet {
  float: left;
  padding: 12px 12px;
  border: 1px dotted #ccc;
  border-radius: 0 10px 0 10px;
  width: 70%;
  border-left: none;
  height: 100%;
}

/* Style the tab */
.woork-period {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.woork-period button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.woork-period button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.woork-period button.active {
  background-color: #ccc;
}

/* Style the tab content */
.cnt-woork-period {
  display: none;
  padding: 6px 12px;
  border-top: none;
  height: 100%;
}

* a {
  color: #fff;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

/*.card:hover{
  box-shadow: 2px 2px 2px 2px  #02020277;    
  transform: scale(1.009);
}*/
.card {
  box-shadow: 2px 2px 2px 2px rgba(2, 2, 2, 0.4666666667);
}

/*
.projects {
  padding-bottom: 2rem;

  &__bio-image {
    height: 30vh;
    width: 100%;
    background: 
      linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.3)
      ),
      url('../img/model-1.jpg') center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .text-secondary {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__items {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  &__item {
    position: relative;
    border-bottom: 5px solid $secondary-color;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: $secondary-color;
      opacity: 0;
      @include transition-ease;
    }

    &:hover {
      &::after {
        top: 0;
        opacity: 0.9;
      }
      .projects__btn {
        opacity: 1;
      }
    }
  }

  &__btns {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }

  &__btn {
    opacity: 0;
    color: set-text-color($secondary-color);
    @include transition-ease;

    &:hover {
      color: set-text-color(set-text-color($secondary-color));
    }
  }


  footer {
    transform:
      rotate(90deg)
      translate(-3rem, -5rem);
  }

}
*/
.woork-sheet {
  /* Style the tab */
  /* Style the buttons that are used to open the tab content */
  /* Change background color of buttons on hover */
  /* Create an active/current "tab button" class */
  /* Style the tab content */
}
.woork-sheet-tab-header {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}
.woork-sheet-tab-header button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
.woork-sheet-tab-header button:hover {
  background-color: #ddd;
}
.woork-sheet-tab-header button.active {
  background-color: #ccc;
}
.woork-sheet .cnt-woork-sheet {
  float: left;
  padding: 12px 12px;
  border: 1px dotted #ccc;
  border-radius: 0 10px 0 10px;
  width: 70%;
  border-left: none;
  height: 100%;
}

/* Layout footer ( using nesting SASS syntax ) */
.fl-footer {
  height: auto !important;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.fl-footer .social-icons {
  display: flex;
  flex-direction: column;
  opacity: 1.75; /* Opacity (Transparency) */
  color: rgb(0, 0, 0); /* RGBA Color (Alternative Transparency) */
}
.fl-footer a {
  background-color: white;
  --bs-bg-opacity:1;
  color: #70726F;
  font-size: 20px;
  padding: 5px;
  transition: all 0.5s ease;
}
.fl-footer a:hover {
  color: white;
}

/* Layout structure ( using nesting SASS syntax ) */
.fl-page {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
  color: #fff;
  background: radial-gradient(circle, rgb(179, 176, 176), black);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* Responsive header ( using nesting SASS syntax ) */
  /* Responsive main and footer ( using nesting SASS syntax ) */
}
.fl-page .fl-header {
  background-color: rgba(33, 33, 33, 0.8705882353);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1;
}
.fl-page .fl-header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.fl-page .fl-header ul a {
  display: block;
  /*border-right: 1px solid red;*/
  padding: 20px 20px;
  text-decoration: none;
}
.fl-page .fl-header ul a:hover {
  background-color: #181818;
}
.fl-page .fl-header .logo {
  color: #fff;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  margin-top: 5px;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  padding: 10px 10px;
  flex-direction: row;
  justify-content: start;
  float: left;
}
.fl-page .fl-header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 1.2s ease-out;
}
.fl-page .fl-header .menu-icon {
  /*border: 1px solid red;*/
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}
.fl-page .fl-header .menu-icon .nav-icon {
  background-color: #FFF;
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background-color 0.2s ease-out;
}
.fl-page .fl-header .menu-icon .nav-icon:before, .fl-page .fl-header .menu-icon .nav-icon:after {
  background-color: #FFF;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  transition: all 1.2s ease-out;
  top: 5px;
}
.fl-page .fl-header .menu-icon .nav-icon::before {
  top: -5px;
}
.fl-page .fl-header .menu-btn {
  display: none;
}
.fl-page .fl-header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.fl-page .fl-header .menu-btn:checked ~ .menu.menu-icon .nav-icon {
  background-color: transparent;
}
.fl-page .fl-header .menu-btn:checked ~ .menu.menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0px;
}
.fl-page .fl-header .menu-btn:checked ~ .menu.menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0px;
}
.fl-page .flMainContainer {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  height: 100%;
}
.fl-page .flMainContainer .flLeftSpace {
  width: 2.5%;
}
.fl-page .flMainContainer .flRightSpace {
  width: 2.5%;
}
.fl-page .flMainContainer .flMainSpace {
  color: #fff;
  background-color: transparent;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
}
.fl-page .flMainContainer .flMainSpace .flArticleStructure {
  color: #fff;
  background-color: transparent;
  width: auto;
  margin-bottom: 2%;
}
.fl-page .flMainContainer .flMainSpace .flArticleStructure .fl-projects-list {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.fl-page .flMainContainer .flMainSpace .flArticleStructure .fl-projects-list-item {
  width: 46%;
}
.fl-page .flMainContainer .flMainSpace .flArticleStructure .fl-projects-list-item img {
  width: 100%;
}

/* Media query when the screen is larger than 756px */
@media (min-width: 48em) {
  /* Layout structure ( using nesting SASS syntax ) */
  .fl-page {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    color: #fff;
    background: radial-gradient(circle, rgb(179, 176, 176), black);
    /* Responsive header ( using nesting SASS syntax ) */
  }
  .fl-page .fl-header li {
    float: left;
  }
  .fl-page .fl-header li a {
    padding: 20px 30px;
  }
  .fl-page .fl-header .menu {
    clear: none;
    float: right;
    max-height: 240px;
  }
  .fl-page .fl-header .menu-icon {
    display: none;
  }
  .fl-page .flMainContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .fl-page .flMainContainer .flLeftSpace {
    width: 10%;
  }
  .fl-page .flMainContainer .flRightSpace {
    width: 10%;
  }
  .fl-page .flMainContainer .flMainSpace {
    display: flex;
    flex-direction: row;
    width: 78%;
    gap: 2%;
  }
  .fl-page .flMainContainer .flMainSpace .flArticleStructure {
    color: #fff;
    background-color: transparent;
    margin-bottom: 0%;
    width: 47%;
  }
  .fl-page .flMainContainer .flMainSpace .flArticleStructure > p {
    width: -moz-fit-content;
    width: fit-content;
  }
  .fl-page .flMainContainer .flMainSpace .flArticleStructure .fl-projects-list {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .fl-page .flMainContainer .flMainSpace .flArticleStructure .fl-projects-list-item {
    width: 46%;
  }
  .fl-page .flMainContainer .flMainSpace .flArticleStructure .fl-projects-list-item img {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */