/* 
  Main File 

  - config.scss   ( impostazioni di base)
  - bootstrap/bootstrap-css-override.scss ( override del tema scuro di Bootstrap )
  - elements/btn-scroll-to-top.scss ( pulsante per scrollare verso l'inizio della pagina )
  - layout/footer.scss ( tutto il foglio di style per il footer ) 
  - layout/header.scss ( tutto il foglio di style per il footer )
  - pages/contact.scss ( tutto il foglio di style per la pagina "contattami" )
  - pages/curriculum.scss ( tutto il foglio di style per la pagina "curriculum" )
  - pages/projects.scss ( tutto il foglio di style per la pagina "progetti" )
  - pages/who-i-am.scss ( tutto il foglio di style per la pagina "who-i-am" )     

*/
/* Base colors */
/*$background-color-primary:  rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;*/
/* Canvas colors */
/* Margins */
/* background-image */
/* Mixin for test application */
/* Show borders test */
/* Function for mantain proportional margin,fonts,colors */
/* Get margin left,right responsive function */
/* Get margin top,bottom responsive function */
/* Base color */
/* Base color */
/* Base color */
/* Anchor base rules */
/* Function add flex-box */
body {
  /* Colore di sfondo scuro */
  background-color: #000000 !important;
  /* Colore del testo chiaro */
  color: #FFFFFF !important;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
  /* Colore del testo per la navbar */
  color: #FFFFFF !important;
  background-color: #000000 !important;
}

.card {
  /* Sfondo delle card */
  background-color: #000000 !important;
  /* Colore del testo nelle card */
  color: #FFFFFF !important;
  border: 1px solid #FFFFFF !important;
  box-shadow: 2px 2px 2px 2px #000000 !important;
  opacity: 0.85;
  height: 100%;
}
.card:hover {
  transform: scale(1.009);
  box-shadow: 3px 3px 3px 3px #000000 !important;
  opacity: 0.9;
}
.card .card-header {
  border-bottom: 1px solid #FFFFFF !important;
}

.no-gutter-column {
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

#btn-scroll-to-top {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 99;
  display: none;
}

/* Footer Module */
.woork-sheet-tab-header {
  float: left;
  border: 1px solid #ccc;
  background-color: #000000 !important;
  width: 30%;
  height: 360px;
  overflow-y: scroll;
}
.woork-sheet-tab-header button {
  display: block;
  background-color: inherit;
  color: #FFFFFF !important;
  padding: 22px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
.woork-sheet-tab-header button:hover {
  background-color: #181818;
}
.woork-sheet-tab-header button.active {
  background-color: #fff !important;
}
.woork-sheet .cnt-woork-sheet {
  float: left;
  padding: 12px 12px;
  border: 1px solid #fff !important;
  width: 70%;
  border-left: none;
  height: 360px;
  overflow-y: scroll;
  background-color: #fff !important;
  color: #000000 !important;
}

.woork-period {
  overflow: hidden;
  border: 1px solid #ccc;
}

.woork-period button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  text-decoration: line-through;
}

.woork-period button:hover {
  background-color: #181818;
}

.woork-period button.active {
  background-color: black;
  text-decoration: none;
  font-size: larger;
}

.cnt-woork-period {
  display: none;
  border-top: none;
  height: 100%;
}

#projects .fl-projects-list {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
#projects .fl-projects-list-item {
  width: 46%;
}
#projects .fl-projects-list-item img {
  width: 100%;
}

#who-i-am.cnt-main-item .who-i-am .cnt-scrolling-text {
  width: auto; /* Larghezza del contenitore */
  height: 100%; /* Altezza del contenitore */
  overflow: hidden; /* Nascondi il testo in eccesso */
}
#who-i-am.cnt-main-item .who-i-am .cnt-item-text {
  border: 1px dotted red;
  animation: frm-scroll 5s linear infinite; /* Applica l'animazione */
  font-size: 0.7rem; /* Dimensione del testo */
  font-style: italic;
  position: absolute; /* Posizionamento assoluto per il testo */
  color: #FFFFFF !important; /* Colore del testo */
  text-wrap: wrap;
  text-align: center;
  margin-right: 5px;
}
@keyframes frm-scroll {
  0% {
    transform: translateY(0); /* Inizia nella posizione iniziale */
  }
  100% {
    transform: translateY(100%); /* Termina completamente a sinistra */
  }
}

/*
.scrolling-text {
  white-space: nowrap; 
  animation: scroll 10s linear infinite; 
  font-size: 24px; 
}

@keyframes scroll {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}
*/
.rock-text {
  font-size: 17px; /* Large text size */
  font-weight: bold;
  color: #8b8a8a; /* Dark gray for the text color */
  text-align: center;
  text-shadow: 2px 2px 0 #5a5959, -2px -2px 0 #ffffff, 1px 1px 3px rgba(0, 0, 0, 0.5), inset 2px 2px 3px #6e6d6d, inset -2px -2px 3px #a2a1a1; /* Inner shadow on opposite side */
}

.custom-quote {
  font-style: italic;
  color: #6c757d; /* Colore grigio Bootstrap */
}

.slideshow-container {
  /*position: relative;  Position for absolute positioning of slides */
  /*max-width: 600px;  Max width of slideshow */
  border: 1px dotted red;
  height: 100%;
  margin: auto; /* Center the slideshow */
  overflow: hidden; /* Hide overflow */
  /*border: 2px solid #333;  Optional border for the slideshow */
  border-radius: 10px; /* Optional rounded corners */
}

.slide {
  display: none; /* Hide all slides by default */
}

img {
  width: 100%; /* Make image fill the slide */
  border-radius: 10px; /* Rounded corners for images */
}

/* Automatic slideshow animation */
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Apply the fade animation to each slide */
.fade {
  animation: fade 10s ease-in-out infinite; /* Adjust timing as needed */
}

/* Show each slide at the right time */
.slide:nth-child(1) {
  animation-delay: 0s;
}

.slide:nth-child(2) {
  animation-delay: 10s; /* Show second slide after 10 seconds */
}

.slide:nth-child(3) {
  animation-delay: 20s; /* Show third slide after 20 seconds */
}

.fl-page {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
  color: #FFFFFF !important;
  background-color: #fff;
  background: url("../img/background-10.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  /*background:  $background-color-with-gradient;*/
  /*background: 
  linear-gradient(
    to right,
    rgba(rgb(0, 0 ,0), 0.9),
    rgba(rgb(255, 255 ,255), 0.3)
  ),
  url('../img/model-1.jpg') ;
  background-repeat: no-repeat;
  background-size:contain;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.fl-page .fl-header {
  background-color: #000000 !important;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  border-bottom: 1px solid #fff !important;
  width: 100%;
  z-index: 1;
}
.fl-page .fl-header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.fl-page .fl-header ul a {
  text-decoration: none;
  display: block;
  color: #FFFFFF !important;
}
.fl-page .fl-header ul a:hover {
  background-color: #181818;
}
.fl-page .fl-header ul a {
  padding: 20px 20px;
}
.fl-page .fl-header .logo {
  color: #FFFFFF !important;
  --bs-bg-opacity: 1;
  background-color: #000000 !important;
  margin-top: 5px;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  padding: 10px 10px;
  flex-direction: row;
  justify-content: start;
  float: left;
}
.fl-page .fl-header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 1.2s ease-out;
}
.fl-page .fl-header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}
.fl-page .fl-header .menu-icon .nav-icon {
  background-color: #FFF;
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background-color 0.2s ease-out;
}
.fl-page .fl-header .menu-icon .nav-icon:before, .fl-page .fl-header .menu-icon .nav-icon:after {
  background-color: #FFF;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  transition: all 1.2s ease-out;
  top: 5px;
}
.fl-page .fl-header .menu-icon .nav-icon::before {
  top: -5px;
}
.fl-page .fl-header .menu-btn {
  display: none;
}
.fl-page .fl-header .menu-btn:checked ~ .menu {
  max-height: 260px;
}
.fl-page .fl-header .menu-btn:checked ~ .menu.menu-icon .nav-icon {
  background-color: transparent;
}
.fl-page .fl-header .menu-btn:checked ~ .menu.menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0px;
}
.fl-page .fl-header .menu-btn:checked ~ .menu.menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0px;
}
@media (min-width: 1024px) {
  .fl-page .fl-header li {
    float: left;
  }
  .fl-page .fl-header li a {
    padding: 20px 30px;
  }
  .fl-page .fl-header .menu {
    clear: none;
    float: right;
    max-height: 260px;
  }
  .fl-page .fl-header .menu-icon {
    display: none;
  }
}
.fl-page .fl-main {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 20% 2.5%;
  justify-content: center;
  /* Media query when the screen is larger than 1152px ( PC/laptop device ) */
}
.fl-page .fl-main .cnt-main {
  color: #FFFFFF !important;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 95%;
}
.fl-page .fl-main .cnt-main-item {
  color: #FFFFFF !important;
  background-color: transparent;
  width: auto;
  margin-bottom: 4%;
  scroll-margin-top: 100px; /* Set scroll margin equal to the height of the fixed header */
}
@media (min-width: 1024px) {
  .fl-page .fl-main {
    display: flex;
    flex-direction: row;
    margin: 8.75% 20%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .fl-page .fl-main .cnt-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
  }
  .fl-page .fl-main .cnt-main-item {
    color: #FFFFFF !important;
    background-color: transparent;
    width: 47%;
    margin-bottom: 2%;
    /*max-height: 500px;*/
  }
  .fl-page .fl-main .cnt-main-item > p {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.fl-page .fl-footer {
  /* Media query when the screen is less than 1152px  ( MOBILE first default stylesheet )  */
  border-top: 1px solid #fff !important;
  padding: 2.5% 2.5%;
  background-color: #000000 !important;
  /* Media query when the screen is larger than 1152px ( PC/laptop device ) */
}
.fl-page .fl-footer .fl-footer-cnt-item-menu {
  margin-bottom: 0px;
}
.fl-page .fl-footer .fl-footer-cnt-item-menu ul {
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.fl-page .fl-footer .fl-footer-cnt-item-menu ul a {
  text-decoration: none;
  display: block;
  color: #FFFFFF !important;
}
.fl-page .fl-footer .fl-footer-cnt-item-menu ul a:hover {
  background-color: #181818;
}
.fl-page .fl-footer .fl-footer-cnt-item-links {
  margin-top: 3px;
  margin-bottom: 0px;
}
.fl-page .fl-footer .fl-footer-cnt-item-links ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.fl-page .fl-footer .fl-footer-cnt-item-links ul a {
  text-decoration: none;
  display: block;
  color: #FFFFFF !important;
}
.fl-page .fl-footer .fl-footer-cnt-item-links ul a:hover {
  background-color: #181818;
}
.fl-page .fl-footer .fl-footer-cnt-item-hr {
  color: #FFFFFF;
  opacity: 0.9;
  size: 3px;
}
.fl-page .fl-footer .fl-footer-cnt-item-disclaimer {
  font-size: 0.7rem;
  color: #717286;
}
@media (min-width: 1024px) {
  .fl-page .fl-footer {
    padding: 2.5% 20%;
  }
  .fl-page .fl-footer .fl-footer-cnt-item-links {
    margin-bottom: 25px;
  }
  .fl-page .fl-footer .fl-footer-cnt-item-menu {
    margin-bottom: 25px;
  }
  .fl-page .fl-footer .fl-footer-cnt-item-disclaimer {
    font-size: 0.9rem;
  }
}

/* Media query when the screen is larger than 1152px ( PC/laptop device ) */
@media (min-width: 1024px) {
  /* Layout structure ( using nesting SASS syntax ) */
  .fl-page {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    color: #FFFFFF !important;
    background-color: #fff;
    background: url("../img/background-10.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /*background:  $background-color-with-gradient;*/
    /*background: 
    linear-gradient(
      to right,
      rgba(rgb(0, 0 ,0), 0.9),
      rgba(rgb(255, 255 ,255), 0.3)
    ),
    url('../img/model-1.jpg') ;
    background-repeat: no-repeat;
    background-size:contain;*/
  }
  .fl-page .fl-header {
    background-color: #000000 !important;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    border-bottom: 1px solid #fff !important;
    width: 100%;
    z-index: 1;
  }
  .fl-page .fl-header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
  }
  .fl-page .fl-header ul a {
    text-decoration: none;
    display: block;
    color: #FFFFFF !important;
  }
  .fl-page .fl-header ul a:hover {
    background-color: #181818;
  }
  .fl-page .fl-header ul a {
    padding: 20px 20px;
  }
  .fl-page .fl-header .logo {
    color: #FFFFFF !important;
    --bs-bg-opacity: 1;
    background-color: #000000 !important;
    margin-top: 5px;
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    padding: 10px 10px;
    flex-direction: row;
    justify-content: start;
    float: left;
  }
  .fl-page .fl-header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 1.2s ease-out;
  }
  .fl-page .fl-header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
  }
  .fl-page .fl-header .menu-icon .nav-icon {
    background-color: #FFF;
    display: block;
    width: 18px;
    height: 2px;
    position: relative;
    transition: background-color 0.2s ease-out;
  }
  .fl-page .fl-header .menu-icon .nav-icon:before, .fl-page .fl-header .menu-icon .nav-icon:after {
    background-color: #FFF;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    transition: all 1.2s ease-out;
    top: 5px;
  }
  .fl-page .fl-header .menu-icon .nav-icon::before {
    top: -5px;
  }
  .fl-page .fl-header .menu-btn {
    display: none;
  }
  .fl-page .fl-header .menu-btn:checked ~ .menu {
    max-height: 260px;
  }
  .fl-page .fl-header .menu-btn:checked ~ .menu.menu-icon .nav-icon {
    background-color: transparent;
  }
  .fl-page .fl-header .menu-btn:checked ~ .menu.menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0px;
  }
  .fl-page .fl-header .menu-btn:checked ~ .menu.menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0px;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .fl-page .fl-header li {
    float: left;
  }
  .fl-page .fl-header li a {
    padding: 20px 30px;
  }
  .fl-page .fl-header .menu {
    clear: none;
    float: right;
    max-height: 260px;
  }
  .fl-page .fl-header .menu-icon {
    display: none;
  }
}
@media (min-width: 1024px) {
  .fl-page .fl-main {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 20% 2.5%;
    justify-content: center;
    /* Media query when the screen is larger than 1152px ( PC/laptop device ) */
  }
  .fl-page .fl-main .cnt-main {
    color: #FFFFFF !important;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 95%;
  }
  .fl-page .fl-main .cnt-main-item {
    color: #FFFFFF !important;
    background-color: transparent;
    width: auto;
    margin-bottom: 4%;
    scroll-margin-top: 100px; /* Set scroll margin equal to the height of the fixed header */
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .fl-page .fl-main {
    display: flex;
    flex-direction: row;
    margin: 8.75% 20%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .fl-page .fl-main .cnt-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
  }
  .fl-page .fl-main .cnt-main-item {
    color: #FFFFFF !important;
    background-color: transparent;
    width: 47%;
    margin-bottom: 2%;
    /*max-height: 500px;*/
  }
  .fl-page .fl-main .cnt-main-item > p {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (min-width: 1024px) {
  .fl-page .fl-footer {
    /* Media query when the screen is less than 1152px  ( MOBILE first default stylesheet )  */
    border-top: 1px solid #fff !important;
    padding: 2.5% 2.5%;
    background-color: #000000 !important;
    /* Media query when the screen is larger than 1152px ( PC/laptop device ) */
  }
  .fl-page .fl-footer .fl-footer-cnt-item-menu {
    margin-bottom: 0px;
  }
  .fl-page .fl-footer .fl-footer-cnt-item-menu ul {
    padding: 0;
    list-style-type: none;
    overflow: hidden;
  }
  .fl-page .fl-footer .fl-footer-cnt-item-menu ul a {
    text-decoration: none;
    display: block;
    color: #FFFFFF !important;
  }
  .fl-page .fl-footer .fl-footer-cnt-item-menu ul a:hover {
    background-color: #181818;
  }
  .fl-page .fl-footer .fl-footer-cnt-item-links {
    margin-top: 3px;
    margin-bottom: 0px;
  }
  .fl-page .fl-footer .fl-footer-cnt-item-links ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
  }
  .fl-page .fl-footer .fl-footer-cnt-item-links ul a {
    text-decoration: none;
    display: block;
    color: #FFFFFF !important;
  }
  .fl-page .fl-footer .fl-footer-cnt-item-links ul a:hover {
    background-color: #181818;
  }
  .fl-page .fl-footer .fl-footer-cnt-item-hr {
    color: #FFFFFF;
    opacity: 0.9;
    size: 3px;
  }
  .fl-page .fl-footer .fl-footer-cnt-item-disclaimer {
    font-size: 0.7rem;
    color: #717286;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .fl-page .fl-footer {
    padding: 2.5% 20%;
  }
  .fl-page .fl-footer .fl-footer-cnt-item-links {
    margin-bottom: 25px;
  }
  .fl-page .fl-footer .fl-footer-cnt-item-menu {
    margin-bottom: 25px;
  }
  .fl-page .fl-footer .fl-footer-cnt-item-disclaimer {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=main.css.map */