.woork-sheet{

    /* Style the tab */
  &-tab-header {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 350px;
    overflow-y: scroll;
  }
    /* Style the buttons that are used to open the tab content */
  &-tab-header button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }
  /* Change background color of buttons on hover */
  &-tab-header button:hover {
    background-color: #ddd;
  }
  /* Create an active/current "tab button" class */
  &-tab-header button.active {
    background-color: #ccc;
  }
  /* Style the tab content */
  .cnt-woork-sheet {
    float: left;
    padding: 12px 12px;
    border: 1px dotted #ccc;
    border-radius: 0 10px 0 10px;
    width: 70%;
    border-left: none;
    height:  350px;
    overflow-y: scroll;
  }  
}

/* Style the tab */
.woork-period {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .woork-period button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .woork-period button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .woork-period button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .cnt-woork-period {
    display: none;
    border-top: none;
    height:  100%;

  }