.woork-sheet{

  // Style the tab 
  &-tab-header {
    float: left;
    border: 1px solid #ccc;
    background-color: $background-color-primary;
    width: 30%;
    height: 360px;
    overflow-y: scroll;
  }
  // Style the buttons that are used to open the tab content 
  &-tab-header button {
    display: block;
    background-color: inherit;
    color: $primary-color;
    padding: 22px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }
  // Change background color of buttons on hover
  &-tab-header button:hover {
    background-color: #181818;
  }
  // Create an active/current "tab button" class 
  &-tab-header button.active {
    background-color: $background-color-secondary;
  }
  // Style the tab content 
  .cnt-woork-sheet {
    float: left;
    padding: 12px 12px;
    border: 1px solid $background-color-secondary;
    width: 70%;
    border-left: none;
    height:  360px;
    overflow-y: scroll;
    background-color: $background-color-secondary;
    color: $background-color-primary;
  }  
}

// Style the tab 
.woork-period {
    overflow: hidden;
    border: 1px solid #ccc;
  }
  
  // Style the buttons inside the tab
  .woork-period button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    text-decoration: line-through;
  }
  
  // Change background color of buttons on hover 
  .woork-period button:hover {
    background-color: #181818;
  }
  
  // Create an active/current tablink class 
  .woork-period button.active {
    background-color: black;
    text-decoration: none;
    font-size: larger;
  }
  
  // Style the tab content 
  .cnt-woork-period {
    display: none;
    border-top: none;
    height:  100%;

  }