.cnt-main-item {
  .cnt-curriculum {
    // Style the tab 
    .tabs-curriculum-period {
      overflow: hidden;
      border: 1px solid #ccc;
      @include show-borders-test(false);
      // Style the buttons inside the tab
      button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        text-decoration: line-through;
      } 
      // Change background color of buttons on hover 
      button:hover {
        background-color: #181818;
      }
      // Create an active/current tablink class 
      button.active {
        background-color: black;
        text-decoration: none;
        font-size: larger;
      }
    }  
    // Style the tab content 
    .page-curriculum-period {
      @include show-borders-test(false);
      display: none;
      border-top: none;
      overflow-y:scroll;
      height: 350px;
      background-color: $background-color-secondary;
      color:black;
      &-list {
        &-item {
          @include show-borders-test(false);
          border-bottom: black dotted 1px ;
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: flex-start;
          gap: 10px !important;
        }
      }
    }        
  }
}  