#projects .fl-projects-list {
    margin-top: 15px;
    @include createFlex(row);
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    &-item {
      width: 46%;
      img {
        width: 100%;
      }
  }
  }
  