.cnt-main-item {
  .cnt-projects-list {
    @include base-flex-rule(row);
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px!important;
    &-item {
      width: 46%;
      img {
        width: 100%;
      }
    }
  }
}