// Mixin per applicare le regole CSS per la pagina "who-i-am"
#who-i-am.cnt-main-item .who-i-am {
  .cnt-scrolling-text {
    width: auto; /* Larghezza del contenitore */
    height: 100%; /* Altezza del contenitore */
    @include showBordersTest(false);
    overflow: hidden; /* Nascondi il testo in eccesso */
  }
  
  .cnt-item-text {
    @include showBordersTest(true);
    animation: frm-scroll 5s  linear infinite; /* Applica l'animazione */
    font-size: 0.7rem; /* Dimensione del testo */
    font-style: italic;
    position: absolute; /* Posizionamento assoluto per il testo */
    color: $primary-color; /* Colore del testo */
    text-wrap: wrap;
    text-align: center;
    margin-right: 5px;
  }
  
  @keyframes frm-scroll {
    0% {
        transform: translateY(0); /* Inizia nella posizione iniziale */
    }
    100% {
        transform: translateY(100%); /* Termina completamente a sinistra */
    }
  }
}
  