/* Footer Module */

/* Media query when the screen is less than 1152px  ( MOBILE first default stylesheet )  */
.fl-footer {  
  @include showBordersTest(true);
  margin-top: 100px;
  padding: 0 2%;
  background-color:$background-color-primary;
  &-cnt {
      @include create-flex(column);
      @include showBordersTest(true);
      align-items: center;
      width: 100%;
      height: 100%;
      &-item-links {
        @include create-flex(row);
        @include showBordersTest(true);
        margin-top: 3px;
        margin-bottom: 25px;
        
        justify-content: center;
        width: 100%;
        height: 100%;    
        gap: 2%;
        &-menu{
          @include showBordersTest(true);
          width: 50%;
          padding: 0;
          list-style-type: none;
          overflow: hidden;
          a
          {
            display: block;
            text-decoration: none;
            &:hover
            { 
              background-color: #181818;
            };
          }  
        }
        &-socials {
            @include showBordersTest(true);
            width: 50%;
            justify-content: center;
            flex-wrap: wrap;
            &-subitem {
              /*border: 1px solid red;*/
              width: 32%;
              text-align: center;
              p,a{
                cursor: pointer;
              }
          }                
        }
      }
      &-item-disclaimer {
        @include showBordersTest(true);
        font-size: 0.7rem;
        color: #717286;
        margin-bottom: 5%;
      }
  }
}  

  /* Media query when the screen is larger than 1152px ( PC/laptop device ) */
@media (min-width: 1152px){ 
  .fl-footer {
    padding: 0 10%;
    &-cnt {
      @include create-flex(column);
      align-items: center;      
      &-item-links {
        @include create-flex(row);
        margin-top: 3px;
        margin-bottom: 25px;
        &-menu{
          margin: 50px 0px 25px;
          padding: 0;
          list-style-type: none;
          overflow: hidden;
          a
          {
            display: block;
            text-decoration: none;
            &:hover
            { 
              background-color: #181818;
            };
          }  
        }  
        &-socials {
            @include create-flex(row);
            justify-content: center;
            flex-wrap: wrap;
            &-subitem {
              width: 32%;
              text-align: center;
              p,a{
                cursor: pointer;
              }
          }
        }    
      }
      &-item-disclaimer {
        font-size: 0.9rem;
      }
    }
  }
}    
