// Mixin per applicare le regole CSS per il main
@mixin base-main-rule {
    @include base-flex-rule(row);
    border-radius: 10px;
    margin: calc(margin-top-bottom(true) * 8) margin-left-right(true);
    justify-content: center;
    .cnt-main {
    @include base-color-main();
    @include base-flex-rule(column);
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 95%;
        &-item {
            @include base-color-main();
            width: auto;
            margin-bottom: 4%;
            scroll-margin-top: 100px; /* Set scroll margin equal to the height of the fixed header */
        }
    } 
    // Media query when the screen is larger than 1152px ( PC/laptop device ) */
    @media (min-width: 1024px){ 
        @include base-flex-rule(row);
        margin: calc( margin-top-bottom(false) * 3.5) margin-left-right(false);
        justify-content: center;
        flex-wrap: wrap;
        .cnt-main {
        @include base-flex-rule(row);
        justify-content: center;
        flex-wrap: wrap;    
        gap: 2%;
        &-item {
            @include base-color-main();
            width: 47%;
            margin-bottom: 2%;
            /*max-height: 500px;*/
            > p{
                width: fit-content;
                }
            }
        }      
    }    
} 